<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" alt="Me">
        <p>I made this weather app, but i know no one's gonna use it, cuz everyone already know the weather.</p>
    </div>
    {{>footer}}
</body>
</html>