<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        {{!-- <p>Use this site to get weather!</p> --}}

        <form>
            <input type="text" placeholder="Location" required>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <em><p class="location"></p></em>
        <p class="forecast"></p>
        <p class="error"></p>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>